<div class="main">
    <div class="mainSectionHeader">
      <span class="returnChevron">
        <i class="material-icons">chevron_left</i>
        <i class="material-icons">person</i>
      </span>
      <span>Home Room</span>
      <i class="material-icons">more_vert</i>
    </div>

    {% load static %}
    <img src="{% static "polling/whiteboard-mock.jpg" %}" alt="Whiteboard">

    <div class="mainSectionFooter">
      <span class="floatButton">
        <i class="material-icons">add</i>
      </span>
      <span class="centerIcons">
        <span class="whiteCircleBorder">
          <i class="material-icons">phone_disabled</i>
        </span>
        <span class="whiteCircleBorder">
          <i class="material-icons">videocam_off</i>
        </span>
        <span class="whiteCircleBorder">
          <i class="material-icons">desktop_access_disabled</i>
        </span>
      </span>
    </div>
  </div>