<div class="sidenav">

    <div class="sideSection">
      <div class="sideSectionTitle">
        Messages
      </div>
      <div class="sideSectionIcon">
        <i class="material-icons">chat_bubble_outline</i>
        <span class="sectionName">Public Chat</span>
      </div>
    </div>

    <div class="sideSection">
      <div class="sideSectionTitle">
        Notes
      </div>
      <div class="sideSectionIcon">
        <i class="material-icons">note</i>
        <span class="sectionName">Shared Notes</span>
      </div>
    </div>
    
    <div class="sideSection">
      <div class="sideSectionTitle">
        Polling
      </div>
      <div class="sideSectionIcon">
        <i class="material-icons">poll</i>
        <span class="sectionName">Polling</span>
      </div>
    </div>

    <div class="sideSection">
      <div class="sideSectionTitle">
        Users (1)
        <span><i class="material-icons" id="gear-icon">settings</i></span>
      </div>
      <div class="sideSectionIcon">
        <div class="user"><h2 id='username'>Pr</h2></div>
        <span class="sectionName">Professor (You)</span>
      </div>
    </div>

  </div>