{% include 'polling/components/header.html' %}
{% include 'polling/components/sidenav.html' %}
{% include 'polling/components/pollPane.html' %}

<div class="mt-3 mb-3">Polls from current session:</div>

{% for poll in polls %}
  <button type="button" class="btn btn-outline-dark btn-sm btn-block mt-2 mb-2" data-toggle="modal" data-target="#Modal{{poll.id}}" data-backdrop="false">
    {{ poll }}
  </button>
  <div class="modal fade" id="Modal{{poll.id}}" tabindex="-1" role="dialog" aria-labelledby="Modal{{poll.id}}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modal{{poll.id}}Label">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Launching poll "{{ poll }}"
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Launch Poll</button>
        </div>
      </div>
    </div>
  </div>

{% endfor%}
  
<div class="mt-3 mb-3">Click on a poll above to launch.</div>
      
<a class="mt-auto btn btn-primary btn-block" href="create" role="button">Load a new poll</a>

</div>
</div>

{% include 'polling/components/pageContent.html' %}

{% include 'polling/components/footer.html' %}
