<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BigBlueButton Prototype</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polling/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- Side navigation -->
    <div class="sidenav">

      <div class="sideSection">
        <div class="sideSectionTitle">
          Messages
        </div>
        <div class="sideSectionIcon">
          <i class="material-icons">chat_bubble_outline</i>
          <span class="sectionName">Public Chat</span>
        </div>
      </div>

      <div class="sideSection">
        <div class="sideSectionTitle">
          Notes
        </div>
        <div class="sideSectionIcon">
          <i class="material-icons">note</i>
          <span class="sectionName">Shared Notes</span>
        </div>
      </div>
      
      <div class="sideSection">
        <div class="sideSectionTitle">
          Polling
        </div>
        <div class="sideSectionIcon">
          <i class="material-icons">poll</i>
          <span class="sectionName">Polling</span>
        </div>
      </div>

      <div class="sideSection">
        <div class="sideSectionTitle">
          Users (1)
          <span><i class="material-icons" id="gear-icon">settings</i></span>
        </div>
        <div class="sideSectionIcon">
          <div class="user"><h2 id='username'>Pr</h2></div>
          <span class="sectionName">Professor (You)</span>
        </div>
      </div>

    </div>
    
    <div class="pollPane">
      <div class="pollPaneHeader">
        <div class="pollingReturn">
          <i class="material-icons">chevron_left</i>
          <span>Polling</span>
        </div>
        <i class="material-icons" id="closeButton">clear</i>
      </div>

      <div class="pollPaneBody">
        <p>Leave this panel open to see live responses to your poll. When you are ready, select 'Publish polling results' to publish the results and end the poll.</p>
        {% if data %}
          <div class="statsTable border rounded" style="padding: 14px;">
            <div class="container">
              {% for item in data %}
              <div class="row">
                <div class="font-weight-bold col-sm-3 border-right d-flex justify-content-start p-2">{{ item }}</div>
                <div class="col-sm-6 d-flex justify-content-center align-items-center p-2">0</div>
                <div class="col-sm-3 d-flex justify-content-end align-items-center p-2">0%</div>
              </div>
              {% endfor %}
            </div>
          </div>
          <p>Done</p>
        {% endif %}
        <button type="button" class="btn btn-primary btn-block btn-sm">Publish polling results</button>
        
        <p class="font-weight-bold">Users Response</p>
        
      </div>
    </div>

    <!-- Page content -->
    <div class="main">
      <div class="mainSectionHeader">
        <span class="returnChevron">
          <i class="material-icons">chevron_left</i>
          <i class="material-icons">person</i>
        </span>
        <span>Home Room</span>
        <i class="material-icons">more_vert</i>
      </div>

      {% load static %}
      <img src="{% static "polling/whiteboard-mock.jpg" %}" alt="Whiteboard">

      <div class="mainSectionFooter">
        <span class="floatButton">
          <i class="material-icons">add</i>
        </span>
        <span class="centerIcons">
          <span class="whiteCircleBorder">
            <i class="material-icons">phone_disabled</i>
          </span>
          <span class="whiteCircleBorder">
            <i class="material-icons">videocam_off</i>
          </span>
          <span class="whiteCircleBorder">
            <i class="material-icons">desktop_access_disabled</i>
          </span>
        </span>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
