html, body {
  background-color: #061629;
  height: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
  
.sideSectionTitle {
  font-size: 11.9px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4E5A66;
}

.sideSectionIcon {
  font-size: 12.25px;
}

div i {
  font-size: 24.5px;
  color: #8B9AA8;
  font-weight: 400;
}

#gear-icon {
  font-size: 14px;
}

.user {
  background-color: #1B72CF;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

#username  {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.sectionName {
  line-height: 32px;
  color: #212529;
  font-size: 12.25px;
}

.pollPaneHeader span {
  font-size: 12px;
  color: #4E5A66;
  font-weight: 600;
}

.pollPaneBody div {
  font-size: 14px;
  color: #4E5A66;
}

img {
  width: 100%;
  object-fit: fill;
}

.mainSectionHeader {
  width: 100%;
  height: 30px;
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.mainSectionFooter i {
  color: white;
  font-size: 40px;
}